@media (max-width: 625px) {
    .question {
        width: 400px !important;
        font-size: 22px !important;
    }

    .answer {
        width: 400px !important;
        justify-content: center !important;
    }
}

@media (max-width: 415px) {
    .question {
        width: 250px !important;
        font-size: 24px !important;
        word-wrap: break-word;
        text-align: center;
    }

    .answer {
        width: 400px !important;
        justify-content: center !important;
    }
    
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 22px;
    }
}


@font-face {
    font-family: poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-image: url(img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    position: relative;
    
}

h1, h2 {
    font-family: poppins;

    text-align: center;
    color: white;
}

.question {
    width: 600px;
    height: 200px;
    font-family: poppins;
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(22, 22, 26, 0.5);
    border: 1px solid white;
    backdrop-filter: blur(7px);
}

.answer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 600px;

    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opcao {
    font-family: poppins;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    background-color: #16161A;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 20px;

    user-select: none;
    cursor: pointer;
    width: 220px;
    text-align: center;
}


